<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharePoint_Link.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ITopiaSharePointOutlookAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharePoint_Link.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharePoint_Link.Properties.Settings>
            <setting name="ITopiaSharePointOutlookAddin_SPCopyService_Copy"
                serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Copy.asmx</value>
            </setting>
            <setting name="ITopiaSharePointOutlookAddin_ListWebService_Lists"
                serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="ITopiaSharePointOutlookAddin_AuthenticationService_Authentication"
                serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Authentication.asmx</value>
            </setting>
        </SharePoint_Link.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SharePoint_Link.Properties.Settings>
            <setting name="SharePoint_Link_AuthenticationService_Authentication"
                serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Authentication.asmx</value>
            </setting>
            <setting name="SharePoint_Link_ListWebService_Lists" serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="SharePoint_Link_SPCopyService_Copy" serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Copy.asmx</value>
            </setting>
        </SharePoint_Link.Properties.Settings>
    </applicationSettings>
</configuration>