<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPOutLook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SPOutLook.Properties.Settings>
            <setting name="SPOutLook_com_myitopia_sharepoint_Authentication"
                serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Authentication.asmx</value>
            </setting>
            <setting name="SPOutLook_com_myitopia_sharepoint_Lists" serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="SPOutLook_com_myitopia_sharepoint_Copy" serializeAs="String">
                <value>https://sharepoint.myitopia.com/_vti_bin/Copy.asmx</value>
            </setting>
        </SPOutLook.Properties.Settings>
    </applicationSettings>
</configuration>